<% if current_order.items.count > 0 %>
  <h3>Please review and confirm your order</h3>
    <ul id="item-list" class="no-bullets">
      <%= render :partial => 'item_in_order', :collection => @items_in_order %>
    </ul><br><br><br>
  <%= raw adjust_spacing %>
  <h3>Subtotal: $<%= pretty_price(current_order.total) %></h3>
  <% if current_order.tip_multiplier == 0 %>
    <h5>Add a tip?</h5>

    <div class="left">
      <%= form_for @order, :url => {:controller => :orders, action: :update}, method: :put do |f| %>
        <%= f.hidden_field :tip_multiplier, { :value => 0.1 } %>
        <%= f.submit "10%", class: 'btn btn-outline-secondary' %>&nbsp;
      <% end %>
    </div>
    <div class="left">
      <%= form_for @order, :url => {:controller => :orders, action: :update}, method: :put do |f| %>
        <%= f.hidden_field :tip_multiplier, { :value => 0.15 } %>
        <%= f.submit "15%", class: 'btn btn-outline-secondary' %>&nbsp;
      <% end %>
    </div>
    <div class="left">
      <%= form_for @order, :url => {:controller => :orders, action: :update}, method: :put do |f| %>
        <%= f.hidden_field :tip_multiplier, { :value => 0.2 } %>
        <%= f.submit "20%", class: 'btn btn-outline-secondary' %>
      <% end %>
    </div><br><br>
  <% end %>

  <% unless current_order.tip_multiplier == 0.0 %>
    <h5> + Tip: $<%= pretty_price(current_order.tip) %></h5>
  <% end %>
  <h3>Total (including tip): <%= pretty_price(current_order.total_with_tip) || pretty_price(current_order.total) %></h3>
  <div class="left">
    <%= form_for @order, :url => {:controller => :orders, action: :update}, method: :put do |f| %>
      <%= f.hidden_field :status, { :value => 'placed' } %>
      <%= f.submit "Place Order", class: 'btn btn-primary' %>&nbsp;&nbsp;
    <% end %>
  </div>
  <% unless current_order.tip_multiplier == 0 %>
    <div class="left">
      <%= form_for @order, :url => {:controller => :orders, action: :update}, method: :put do |f| %>
        <%= f.hidden_field :tip_multiplier, { :value => 0 } %>
        <%= f.submit "Change Tip", class: 'btn btn-outline-primary' %>
      <% end %>
    </div><br>
  <% end %>
<% else %>
  <h3>Not hungry? You haven't ordered anything, yet.</h3>
<% end %>



