<li>
  <span class="item-info">
    <%= item.name %><br>
    <%= item.description %><br>
    <%= item.category %><br>
    $ <%= item.price %><br>

    <% if current_order && item_not_in_cart?(item) %>


      <%= form_with url: order_items_path do |form| %>
        <%= hidden_field_tag 'item_id', item.id  %>
        <%= form.submit "Add to Order" %>
      <% end %>

    <% elsif current_order %>
      <%= button_to "Remove from Order", {:controller => :order_items, :action => 'destroy', :id => order_item_to_remove(item).id }, :method => :delete %>
    <% end %>

    <% if logged_in? && admin? %>
      <%= link_to 'Edit', edit_item_path(item) %>
      | <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
  </span>
</li><br>
