<li>
  <span class="item-info">
    <%= item.name %><br>
    <%= item.description %><br>
    <%= item.category %><br>
    $ <%= item.price %><br>
    <% if logged_in? && admin? %>
      <%= link_to 'Edit', edit_item_path(item) %>
      | <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
  </span>
</li><br>
