
<h3 id="appetizers">Appetizers:</h3>
<div class="row">
  <%= render :partial => "item", :collection => @appetizers, :as => :item %>
</div>

<h3 id="entrees">Entrees:</h3>
<div class="row">
  <%= render :partial => "item", :collection => @entrees, :as => :item %>
</div>

<h3 id="beverages">Beverages:</h3>
<div class="row">
  <%= render :partial => "item", :collection => @beverages, :as => :item %>
</div>

<h3 id="desserts">Desserts:</h3>
<div class="row">
  <%= render :partial => "item", :collection => @desserts, :as => :item %>
</div>

<% if logged_in? && admin? %>
  <%= link_to 'Add an Item to the Menu', new_item_path %>
<% end %>
<% unless current_order %>
  <%= button_to "Start Your Order", {:controller => :orders, :action => 'create'}, :method => :post %>
<% else %>
  <%= button_to "Review and Confirm Order", {:controller => :orders, :action => 'show', :id => current_order.id }, :method => :get %>
    <%= button_to "Cancel Order", {:controller => :orders,
  :action => 'destroy', :id => current_order.id }, :method => :delete %>
<% end %>
