
<h3 id="appetizers">Appetizers:</h3>
<div id="js--appetizers" class="row">
  <%= render :partial => "item", :collection => @appetizers, :as => :item %>
</div>

<h3 id="entrees">Entrees:</h3>
<div id="js--entrees" class="row">
  <%= render :partial => "item", :collection => @entrees, :as => :item %>
</div>

<h3 id="beverages">Beverages:</h3>
<div id="js--beverages" class="row">
  <%= render :partial => "item", :collection => @beverages, :as => :item %>
</div>

<h3 id="desserts">Desserts:</h3>
<div id="js--desserts" class="row">
  <%= render :partial => "item", :collection => @desserts, :as => :item %>
</div>

<% if logged_in? && admin? %>
  <%= link_to 'Add an Item to the Menu', new_item_path %><br><br>
<% end %>
<div id="order-control-buttons">
  <%= render :partial => "orders/order_control_buttons" %>
</div>
