
<!-- change this to render each category separately -->
<!-- <div id="menu-container">
  <ul id="item-list" style="list-style-type:none"> -->
  <div class="row">
    <%= render @items %>
  </div>
<!--   </ul>
</div> -->




<% if logged_in? && admin? %>
  <%= link_to 'Add an Item to the Menu', new_item_path %>
<% end %>
<% unless current_order %>
  <%= button_to "Start Your Order", {:controller => :orders, :action => 'create'}, :method => :post %>
<% else %>
  <%= button_to "Review and Confirm Order", {:controller => :orders, :action => 'show', :id => current_order.id }, :method => :get %>
    <%= button_to "Cancel Order", {:controller => :orders,
  :action => 'destroy', :id => current_order.id }, :method => :delete %>
<% end %>
