<!DOCTYPE html>
<html data-session="<%= session[:user_id] %>">
  <head>
    <title>Menu Manager</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= flash_padding %>">
    <%= render partial: "shared/modal" %>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <% if logged_in? %>
          <span id="js--greeting" class="navbar-brand <%= greeting_animation %>" >Welcome Back, <%= current_user.formatted_name %>!</span>
        <% else %>
          <ul class="navbar-nav ml-auto inline">
              <li class="inline"><%= link_to "Login", new_session_path, class: "navbar-brand" %></li>
              <li class="inline"><%= link_to "Sign up", new_user_path, class: "navbar-brand" %></li>
          </ul>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <%= link_to "Return to Menu", root_path, class: "nav-link" %>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li><%= link_to "Logout", logout_path, class: "nav-link" %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= render partial: "shared/errors" if !flash.empty? %>

  <!-- Page Content -->
  <div id="js--menu" class="container main-content" data-order-id="<%= current_order.id %>">

    <div class="row">
      <% if current_page?(root_path) %>
        <div class="col-lg-3">

          <h1 id="app-name" class="my-4 animated bounceInLeft">Menu Manager</h1>
          <div id="js--food-categories" class="list-group animated fadeInUpBig">
            <a href="#appetizers" class="list-group-item">Appetizers</a>
            <a href="#entrees" class="list-group-item">Entrees</a>
            <a href="#beverages" class="list-group-item">Beverages</a>
            <a href="#desserts" class="list-group-item">Desserts</a>
          </div>

        </div>
      <% end %>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <% if current_page?(root_path) %>
          <div id="carouselExampleIndicators" class="carousel slide my-4 animated fadeIn" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active carousel_img">
                <%= image_tag("pork-chop.jpg", class: "d-block img-fluid") %>
              </div>
              <div class="carousel-item carousel_img">
                <%= image_tag("bread-pudding.jpg", class: "d-block img-fluid") %>
              </div>
              <div class="carousel-item carousel_img">
                <%= image_tag("kraken.jpg", class: "d-block img-fluid") %>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

    <br><br>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Zach Broaddus 2018 | zach.broaddus@gmail.com</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>
</html>








